* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "JetBrainsMono Nerd Font";
  font-size: 17px;
  font-weight: 600;
}

window#waybar {
  background-color: rgba(30, 30, 30, 0.35);
  color: #ffffff;
  border-radius: 4px;
  border: #001391 solid 2px;
  transition-property: background-color;
  transition-duration: .5s;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
  padding: 0 10px;
  color: #ffffff;
}

#window {

  color: #FFFFFF;
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px, 4px 2px 20px rgba(111,206,161,0);
}

#pulseaudio {
  color: #f7c274;
}

#network {

  color: #ff2332
}

#cpu {

  color: #b869fd
}

workspaces {

  font-size: 20px;
}

#workspaces button {
  min-width: 0;
  min-height: 0;
  font-size: 20px;
  margin-left: 0;
  margin-right: 4;
  color: #000000;
  color: rgba(255,255,255,.3);
	text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
}

#workspaces button :hover {
  color: #73fa8e;
}

#workspaces button.active {
  color: #FFFFFF;
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}


#workspaces button.urgent {
  background-color: #d4ef37;
}

#clock {

  color: #74e3f7
}

#memory {

  color: #ae49ed
}

#custom-separator {
  color: #fc94d8;
}
